<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Napoleonic Wars</string>
	<key>CFBundleExecutable</key>
	<string>Launcher</string>
	<key>CFBundleIconFile</key>
	<string>napoleonic.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.openra.mod.napoleonic</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Napoleonic Wars</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>milestone-1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>milestone-1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>OpenRA Server</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>openra-napoleonic-milestone-1</string>
			</array>
		</dict>
	</array>
	<key>ModId</key>
	<string>napoleonic</string>
	<key>FaqUrl</key>
	<string>https://wiki.openra.net/FAQ</string>
	<key>JoinServerUrlScheme</key>
	<string>openra-napoleonic-milestone-1</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<false/>
	<key>NSPrefersDisplaySafeAreaCompatibilityMode</key>
	<false/>
</dict>
</plist>
